@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

$main-bg-color: #f1f2f0;
$accent-black: #35342f;

body {
	background-color: $main-bg-color;
	color: $accent-black;
	font-family: 'Raleway', sans-serif;
}

.main-app-container {
	padding-top: 2em;
}

.main-app-nav {
	font-size: 2em;
	text-align: center;
}